<h3>This is a Server Component</h3>

<!--Usage of {{?}} for two way binding-->
<p>The server with id {{serverId}} is {{serverStatus}}</p>

<!--Usage of {{'?'}} for showing strings-->
<p>My nam is {{'Farzad'}}</p>

<p>The server with id {{serverId}} is {{getServerStatus()}}</p>

<button class="btn btn-primary">New server</button>

<br>
<br>

<!--Adding a disabled button which will become enabled after 200 ms-->
<button class="btn btn-primary" [disabled]="!allowNewServer">New server</button>

<br>


<button class="btn btn-primary"
        [disabled]="!allowNewServer"
        (click)="OnCreateServer()">New server
</button>

<p>{{ serverCreationStatus }}</p>

<br>
<br>

<p *ngIf="serverCreation">Server was created successfully with name: {{serverName}}</p>

